# Тип окружения: local, dev, prod
ENV=local

# Конфигурация HTTP сервера (Формат: IP:PORT)
HTTP_ADDR=0.0.0.0:8082
HTTP_TIMEOUT=4s
HTTP_IDLE_TIMEOUT=60s

# Подключение к базе данных PostgreSQL (Обязательный параметр)
GOOSE_DBSTRING="host=localhost user=postgres password=admin dbname=emarket sslmode=disable"
GOOSE_DRIVER=postgres

# Путь к директории с миграциями для утилиты goose
GOOSE_MIGRATION_DIR=./internal/adapters/postgresql/migrations